# Imports

In [50]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

# Data Load

In [6]:
# Load dataset
df = pd.read_csv('../datasets/train.csv')
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [7]:
# Data Shape
print(f'The dataframe have {df.shape[0]}  rows and {df.shape[1]} columns')

The dataframe have 9500  rows and 17 columns

# Implement Model

In [65]:
# Selecting all features
all_features = df.columns.to_list()

# Isolate the predictor variables
features = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual', 'valor_em_investimentos',
'taxa_utilizacao_credito', 'num_emprestimos', 'num_contas_bancarias', 'num_cartoes_credito',
'dias_atraso_dt_venc', 'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']

# Isolate the response variable
label = all_features[-1]

# Preparating train data
X_train = df.loc[:, features]
Y_train = df.loc[:, label].values.ravel() # Values/ravel turns into an array

In [66]:
# Create knn object with a number of neighbors
knn_classifier = KNeighborsClassifier(n_neighbors=6)

# Training the algorithm
knn_classifier.fit(X_train, Y_train)

# Predictions
y_pred = knn_classifier.predict(X_train)
y_pred

# Comparing predict vs realized
df1 = df.loc[:, ['id_cliente', 'limite_adicional']]
df1['predicted'] = y_pred
df1['got_right'] = df1.apply(lambda x: 1 if x['limite_adicional'] == x['predicted'] else 0, axis=1)

In [67]:
# Accuracy
print(f'The algorithm got a {round(np.mean(df1.got_right) * 100, 2)}% accuracy')

The algorithm got a 85.76% accuracy